<div class="form-group">
    <label for="title">title</label>
    <input required type="text" name="title" id="title" class="form-control mb-4">

    <label for="desc">description</label>
    <textarea name="desc" id="desc" class="form-control mb-4"></textarea>

    <label for="markdown">content <label class="text-primary font-italic">(markdown)</label></label>
    <textarea name="markdown" id="markdown" class="form-control mb-4"></textarea>


    <button type="submit" class="btn btn-primary active">post</button>
    <a href="/" class="btn btn-default bg-info text-white" role="button" aria-pressed="true">cancel</a>
</div>


